# 2.3 Hacks
- toc: true 
- badges: true
- comments: true
- categories: [jupyter]

## Dataset

In [3]:
[
  {
    "name": "Qais",
    "age": 16,
    "location": "Japan",
    "house": "house 5"
  },
  {
    "name": "Bob",
    "age": 30,
    "location": "Cancun",
    "house": "house 4"
  },
  {
    "name": "Josh",
    "age": 42,
    "location": "India",
    "house": "house 3"
  },
  {
    "name": "Bilal",
    "age": 35,
    "location": "Mexico",
    "house": "House 2"
  },
  {
    "name": "Zteven",
    "age": 28,
    "location": "Russia",
    "house": "House 1"
  }
]

[{'name': 'Qais', 'age': 16, 'location': 'Japan', 'house': 'house 5'},
 {'name': 'Bob', 'age': 30, 'location': 'Cancun', 'house': 'house 4'},
 {'name': 'Josh', 'age': 42, 'location': 'India', 'house': 'house 3'},
 {'name': 'Bilal', 'age': 35, 'location': 'Mexico', 'house': 'House 2'},
 {'name': 'Zteven', 'age': 28, 'location': 'Russia', 'house': 'House 1'}]

In [2]:
import pandas as pd

# Create a dataframe from the JSON data
data = [
  {
    "name": "Qais",
    "age": 16,
    "location": "Japan",
    "house": "house 5"
  },
  {
    "name": "Bob",
    "age": 30,
    "location": "Cancun",
    "house": "house 4"
  },
  {
    "name": "Josh",
    "age": 42,
    "location": "India",
    "house": "house 3"
  },
  {
    "name": "Bilal",
    "age": 35,
    "location": "Mexico",
    "house": "House 2"
  },
  {
    "name": "Zteven",
    "age": 28,
    "location": "Russia",
    "house": "House 1"
  }
]
df = pd.DataFrame(data)

# Extract information using Pandas functions
print("Maximum age:", df["age"].max())
print("Minimum age:", df["age"].min())
print("Mean age:", df["age"].mean())
print("Median age:", df["age"].median())
print("Mode of age:", df["age"].mode()[0]) # mode() returns a Series, so we need to extract the first element

Maximum age: 42
Minimum age: 16
Mean age: 30.2
Median age: 30.0
Mode of age: 16

## Code blocks

Code blocks for max age, minimum age, mean age, median age, and mode of age.

In [4]:
max_age = df['age'].max()
print('Maximum age:', max_age)

Maximum age: 42

In [5]:
min_age = df['age'].min()
print('Minimum age:', min_age)

Minimum age: 16

In [6]:
mean_age = df['age'].mean()
print('Mean age:', mean_age)

Mean age: 30.2

In [8]:
median_age = df['age'].median()
print('Median age:', median_age)

Median age: 30.0

In [9]:
mode_age = df['age'].mode()
print('Mode of ages:', mode_age)

Mode of ages: 0    16
1    28
2    30
3    35
4    42
Name: age, dtype: int64